<!-- navbar -->
<div class="ntm-navbar" [ngClass]="{ overlaped: mainContainerOverlap }">
  <div class="seperator"></div>
  <div class="ntm-search-container">
    <ng-container *ngIf="searchItems$ | async as searchItems">
      <cff-search-input
        id="ntm-search-input"
        [ngClass]="{ hasResult: searchItems.length > 0 }"
        (focus)="searchInputAcitve($event)"
        (blur)="searchInputInactive($event)"
        (change)="searchArtBoardItem($event.detail)"
      ></cff-search-input>

      <ng-container *ngIf="showSearchResults && searchItems.length > 0">
        <div class="ntm-search-result-seperator"></div>
        <div
          class="ntm-search-result"
          (mouseenter)="selectingSearchResult = true"
          (mouseleave)="selectingSearchResult = false"
        >
          <ng-container *ngFor="let item of searchItems">
            <div
              (click)="onSelectSearchItem(item)"
              class="ntm-search-item"
              componentView="true"
              [ntmExtensionInject]="item.extensionId"
              [itemDataId]="item.id"
            ></div>
            <div class="ntm-search-result-item-seperator"></div>
          </ng-container>
        </div>
      </ng-container>
    </ng-container>
  </div>
  <div class="button-icon add-button" (click)="newNote()">
    <svg xmlns="http://www.w3.org/2000/svg" #addButton viewBox="0 0 22.26 24">
      <defs>
        <style>
          .add-button-card {
            fill: currentColor;
          }
          .add-button-plus {
            fill: #ff726b;
          }
        </style>
      </defs>
      <g id="Calque_2" data-name="Calque 2">
        <g id="card">
          <path
            class="add-button-card"
            d="M8.52,4.81V7.53a1.66,1.66,0,0,0,1.62,1.69h3v3.54a1.66,1.66,0,0,0,1.62,1.7h2.15v7.75c0,.43-.27.79-.59.79H1.6c-.33,0-.6-.36-.6-.79V5.61c0-.43.27-.8.6-.8H8.52m1-1H1.6A1.71,1.71,0,0,0,0,5.61v16.6A1.7,1.7,0,0,0,1.6,24H16.35a1.7,1.7,0,0,0,1.59-1.79V13.46H14.79a.66.66,0,0,1-.62-.7V8.22h-4a.66.66,0,0,1-.62-.69V3.81Z"
          />
          <rect class="add-button-card" x="2.5" y="10.42" width="4" height="1" />
          <rect class="add-button-card" x="2.5" y="14.75" width="8" height="1" />
          <rect class="add-button-card" x="2.5" y="18.85" width="11" height="1" />
        </g>
        <g id="plus">
          <path
            class="add-button-plus"
            d="M22.26,4.24V7a.5.5,0,0,1-.5.5H18.52v3.24a.49.49,0,0,1-.5.49H15.28a.49.49,0,0,1-.49-.49V7.48H11.55a.5.5,0,0,1-.5-.5V4.24a.5.5,0,0,1,.5-.5h3.24V.5a.49.49,0,0,1,.49-.5H18a.5.5,0,0,1,.5.5V3.74h3.24A.5.5,0,0,1,22.26,4.24Z"
          />
        </g>
      </g>
    </svg>
  </div>
  <div class="seperator"></div>
  <div class="seperator"></div>
  <div class="button-icon ntm-logo" (click)="goGoWelcomePage()">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 148.56 148.56">
      <defs>
        <style>
          .logo-cls-1 {
            isolation: isolate;
          }
          .logo-cls-2 {
            fill: #3498db;
          }
          .logo-cls-2,
          .logo-cls-3,
          .logo-cls-4,
          .logo-cls-5 {
            fill-rule: evenodd;
          }
          .logo-cls-3 {
            fill: #efc94c;
          }
          .logo-cls-4 {
            fill: #b280c1;
          }
          .logo-cls-5 {
            fill: #ff726b;
          }
        </style>
      </defs>
      <g id="Calque_2" data-name="Calque 2">
        <g id="Rectangle_1" data-name="Rectangle 1" class="logo-cls-1">
          <g id="Rectangle_1-2" data-name="Rectangle 1">
            <path class="logo-cls-2" d="M60,0H36A36,36,0,0,0,0,36V60A12,12,0,0,0,12,72H72V12A12,12,0,0,0,60,0Z" />
          </g>
        </g>
        <g id="Rectangle_1_copie" data-name="Rectangle 1 copie" class="logo-cls-1">
          <g id="Rectangle_1_copie-2" data-name="Rectangle 1 copie">
            <path
              class="logo-cls-3"
              d="M112.56,0h-24a12,12,0,0,0-12,12V72h60a12,12,0,0,0,12-12V36A36,36,0,0,0,112.56,0Z"
            />
          </g>
        </g>
        <g id="Rectangle_1_copie_2" data-name="Rectangle 1 copie 2" class="logo-cls-1">
          <g id="Rectangle_1_copie_2-2" data-name="Rectangle 1 copie 2">
            <path class="logo-cls-4" d="M12,76.56a12,12,0,0,0-12,12v24a36,36,0,0,0,36,36H60a12,12,0,0,0,12-12v-60Z" />
          </g>
        </g>
        <g id="Rectangle_1_copie_3" data-name="Rectangle 1 copie 3" class="logo-cls-1">
          <g id="Rectangle_1_copie_3-2" data-name="Rectangle 1 copie 3">
            <path
              class="logo-cls-5"
              d="M136.56,76.56h-60v60a12,12,0,0,0,12,12h24a36,36,0,0,0,36-36v-24A12,12,0,0,0,136.56,76.56Z"
            />
          </g>
        </g>
      </g>
    </svg>
  </div>
</div>
<!-- main content -->
<div
  class="intersection-radar"
  [ngClass]="{ overlaped: mainContainerOverlap }"
  ntmStickyNavbar
  (overlapped)="navbarOverlappedHandler($event)"
></div>
<cff-dashboard-layout
  (layout-change)="onChangeLayoutHandle($event)"
  class="main-content"
  editable
  scrollableParentSelector="viewport"
>
  <ng-container *ngFor="let item of items$ | async; trackBy: trackByItemId">
    <cff-dashboard-item
      [attr.id]="item.id"
      [currentBgColor]="item.colorIndex"
      [rows]="item.gridPosition.rows"
      [screenColumn]="item.gridPosition.screenColumns"
      [order]="item.gridPosition.order"
      [ntmExtensionInject]="item.extensionId"
      [itemDataId]="item.id"
      (dataChange)="onItemDataChange(item.id, $event)"
      (change-background)="onItemChangeBackground(item.id, $event.detail)"
    >
      <cff-delete-confirmation
        class="dashboard-item-delete-button"
        slot="toolbar"
        (confirm)="removeArtBoardItem(item)"
      ></cff-delete-confirmation>

      <div slot="toolbar" class="dashboard-item-toolbar-icon" (click)="hideArtboardItem(item)">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="12"
          height="12"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-archive"
        >
          <polyline points="21 8 21 21 3 21 3 8"></polyline>
          <rect x="1" y="3" width="22" height="5"></rect>
          <line x1="10" y1="12" x2="14" y2="12"></line>
        </svg>
      </div>
    </cff-dashboard-item>
  </ng-container>
</cff-dashboard-layout>
