<!-- navbar -->
<div class="ntm-navbar">
  <div class="seperator"></div>
  <cff-search-input class="ntm-search-input"></cff-search-input>
  <div class="button-icon add-button">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.26 24">
      <defs>
        <style>
          .cls-1 {
            fill: currentColor;
          }
          .cls-add-2 {
            fill: #ff726b;
          }
        </style>
      </defs>
      <g id="Calque_2" data-name="Calque 2">
        <g id="card">
          <path
            class="cls-1"
            d="M8.52,4.81V7.53a1.66,1.66,0,0,0,1.62,1.69h3v3.54a1.66,1.66,0,0,0,1.62,1.7h2.15v7.75c0,.43-.27.79-.59.79H1.6c-.33,0-.6-.36-.6-.79V5.61c0-.43.27-.8.6-.8H8.52m1-1H1.6A1.71,1.71,0,0,0,0,5.61v16.6A1.7,1.7,0,0,0,1.6,24H16.35a1.7,1.7,0,0,0,1.59-1.79V13.46H14.79a.66.66,0,0,1-.62-.7V8.22h-4a.66.66,0,0,1-.62-.69V3.81Z"
          />
          <rect class="cls-1" x="2.5" y="10.42" width="4" height="1" />
          <rect class="cls-1" x="2.5" y="14.75" width="8" height="1" />
          <rect class="cls-1" x="2.5" y="18.85" width="11" height="1" />
        </g>
        <g id="plus">
          <path
            class="cls-add-2"
            d="M22.26,4.24V7a.5.5,0,0,1-.5.5H18.52v3.24a.49.49,0,0,1-.5.49H15.28a.49.49,0,0,1-.49-.49V7.48H11.55a.5.5,0,0,1-.5-.5V4.24a.5.5,0,0,1,.5-.5h3.24V.5a.49.49,0,0,1,.49-.5H18a.5.5,0,0,1,.5.5V3.74h3.24A.5.5,0,0,1,22.26,4.24Z"
          />
        </g>
      </g>
    </svg>
  </div>
  <div class="seperator"></div>
  <div class="button-icon ntm-logo">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 148.56 148.56">
      <defs>
        <style>
          .cls-1 {
            isolation: isolate;
          }
          .cls-2 {
            fill: #3498db;
          }
          .cls-2,
          .cls-3,
          .cls-4,
          .cls-5 {
            fill-rule: evenodd;
          }
          .cls-3 {
            fill: #efc94c;
          }
          .cls-4 {
            fill: #b280c1;
          }
          .cls-5 {
            fill: #ff726b;
          }
        </style>
      </defs>
      <g id="Calque_2" data-name="Calque 2">
        <g id="Rectangle_1" data-name="Rectangle 1" class="cls-1">
          <g id="Rectangle_1-2" data-name="Rectangle 1">
            <path class="cls-2" d="M60,0H36A36,36,0,0,0,0,36V60A12,12,0,0,0,12,72H72V12A12,12,0,0,0,60,0Z" />
          </g>
        </g>
        <g id="Rectangle_1_copie" data-name="Rectangle 1 copie" class="cls-1">
          <g id="Rectangle_1_copie-2" data-name="Rectangle 1 copie">
            <path class="cls-3" d="M112.56,0h-24a12,12,0,0,0-12,12V72h60a12,12,0,0,0,12-12V36A36,36,0,0,0,112.56,0Z" />
          </g>
        </g>
        <g id="Rectangle_1_copie_2" data-name="Rectangle 1 copie 2" class="cls-1">
          <g id="Rectangle_1_copie_2-2" data-name="Rectangle 1 copie 2">
            <path class="cls-4" d="M12,76.56a12,12,0,0,0-12,12v24a36,36,0,0,0,36,36H60a12,12,0,0,0,12-12v-60Z" />
          </g>
        </g>
        <g id="Rectangle_1_copie_3" data-name="Rectangle 1 copie 3" class="cls-1">
          <g id="Rectangle_1_copie_3-2" data-name="Rectangle 1 copie 3">
            <path
              class="cls-5"
              d="M136.56,76.56h-60v60a12,12,0,0,0,12,12h24a36,36,0,0,0,36-36v-24A12,12,0,0,0,136.56,76.56Z"
            />
          </g>
        </g>
      </g>
    </svg>
  </div>
</div>
<!-- main content -->
<cff-dashboard-layout editable scrollableParentSelector="viewport">
  <cff-dashboard-item cols="6" rows="30"> </cff-dashboard-item>
  <cff-dashboard-item> </cff-dashboard-item>
  <cff-dashboard-item> </cff-dashboard-item>
  <cff-dashboard-item> </cff-dashboard-item>
  <cff-dashboard-item> </cff-dashboard-item>
  <cff-dashboard-item> </cff-dashboard-item>
</cff-dashboard-layout>
