.ntm-mainboard {
  // --mdc-menu-min-width: 200px;
  // --mdc-menu-item-height: 48px;
  --mdc-theme-surface: #717680;
  --mdc-theme-text-primary-on-background: rgba(255, 255, 255, 0.8);
  --mdc-theme-text-icon-on-background: rgba(255, 255, 255, 0.8);
  /* inherits the styles of mwc-list internally */
  // --mdc-theme-primary: #ff726b;
  // --mdc-list-vertical-padding: 0px;
  // --mdc-list-side-padding: 30px;
  display: block;
  .ntm-navbar {
    padding: 0px 8px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 96px;
    z-index: 1000;
    background-color: #303236;
    opacity: 1;
    transition: transform 0.5s ease 0s, opacity 0.5s ease 0.1s;

    .ntm-search-input {
      max-width: 650px;
      min-width: 180px;
    }
    .seperator {
      margin: auto;
    }
    .button-icon {
      width: 24px;
      height: 24px;
      flex: 0 0 24px;
      cursor: pointer;
      padding: 0 16px;
      transition: color 0.3s ease-out;
      color: rgb(255, 255, 255, 0.5);
    }
    .button-icon:hover {
      color: #ff726b;
    }

    .add-button {
      height: 30px;
      transition-delay: 30s;
      transition-property: left;
      // position: relative;
    }

    .ntm-logo {
      transition: opacity 0.3s ease-out;
      opacity: 0.8;
    }
    .ntm-logo:hover {
      width: 24px;
      height: 24px;
      opacity: 1;
    }
  }

  .ntm-navbar.overlaped {
    opacity: 0;
    transform: translate3d(calc(100% - 64px), 0, 0);
  }
  .main-content {
    padding-top: 96px;
    min-width: 1px;
  }

  .intersection-radar {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 1px;
    height: 1px;
    visibility: hidden;
  }
}
