<!-- navbar -->
<div class="ntm-navbar" [ngClass]="{ overlaped: mainContainerOverlap }">
  <cff-tab-menu
    class="tab-menu"
    [items]="['Notes', 'Archive']"
    [selectedItem]="selectedTab"
    (tab-change)="changeTab($event.detail)"
  ></cff-tab-menu>
  <div class="ntm-search-container">
    <ng-container *ngIf="searchItems$ | async as searchItems">
      <cff-search-input
        id="ntm-search-input"
        [loading]="isSearching$ | async"
        [value]="searchQuery$ | async"
        [ngClass]="{ hasResult: inNoteTab && searchItems.length > 0 }"
        (focus)="searchInputAcitve($event)"
        (blur)="searchInputInactive($event)"
        (change)="searchArtBoardItem($event.detail)"
      ></cff-search-input>

      <ng-container *ngIf="inNoteTab && showSearchResults && searchItems.length > 0">
        <div class="ntm-search-result-seperator"></div>
        <div
          class="ntm-search-result"
          (mouseenter)="selectingSearchResult = true"
          (mouseleave)="selectingSearchResult = false"
        >
          <ng-container *ngFor="let item of searchItems">
            <div
              (click)="onSelectSearchItem(item)"
              class="ntm-search-item"
              componentView="true"
              [ntmExtensionInject]="item.extensionId"
              [itemDataId]="item.id"
            ></div>
            <div class="ntm-search-result-item-seperator"></div>
          </ng-container>
        </div>
      </ng-container>
    </ng-container>
  </div>
  <ntm-toolbar-actions>
    <ng-template ntmToolbarActionItem="newNote">
      <div class="navbar-button" (click)="newNote()" [ngClass]="{ hidden: selectedTab != 'Notes' }">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-edit"
        >
          <path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path>
          <path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path>
        </svg>
        <span>Text</span>
      </div>
    </ng-template>
    <ng-template ntmToolbarActionItem="newCode">
      <div
        class="navbar-button"
        (click)="newNote('ntm-code-note-element')"
        [ngClass]="{ hidden: selectedTab != 'Notes' }"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          viewBox="0 0 18.86 16.37"
        >
          <g>
            <g>
              <path d="M13.55,13.32l4.11-4.1a1.27,1.27,0,0,0,0-1.79L13.55,3.32" />
              <path d="M4.89,3.32,1.5,6.7a2.3,2.3,0,0,0,0,3.24l3.39,3.38" />
              <line x1="10.43" y1="0.83" x2="8.3" y2="15.54" />
            </g>
          </g>
        </svg>
        <span>Code</span>
      </div>
    </ng-template>

    <ng-template ntmToolbarActionMenuItem="newText">
      <div>this is new Text</div>
    </ng-template>
    <ng-template ntmToolbarActionMenuItem="newCode">
      <span>Code</span>
      <svg
        slot="graphic"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        stroke="currentColor"
        width="20"
        height="20"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        viewBox="0 0 18.86 16.37"
        style="fill: none; width: 18px; height: 18px"
      >
        <g>
          <g>
            <path d="M13.55,13.32l4.11-4.1a1.27,1.27,0,0,0,0-1.79L13.55,3.32" />
            <path d="M4.89,3.32,1.5,6.7a2.3,2.3,0,0,0,0,3.24l3.39,3.38" />
            <line x1="10.43" y1="0.83" x2="8.3" y2="15.54" />
          </g>
        </g>
      </svg>
    </ng-template>
  </ntm-toolbar-actions>
  <!-- <div class="seperator"></div> -->
  <div class="ntm-logo" (click)="goGoWelcomePage()">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 148.56 148.56">
      <defs>
        <style>
          .logo-cls-1 {
            isolation: isolate;
          }
          .logo-cls-2 {
            fill: #3498db;
          }
          .logo-cls-2,
          .logo-cls-3,
          .logo-cls-4,
          .logo-cls-5 {
            fill-rule: evenodd;
          }
          .logo-cls-3 {
            fill: #efc94c;
          }
          .logo-cls-4 {
            fill: #b280c1;
          }
          .logo-cls-5 {
            fill: #ff726b;
          }
        </style>
      </defs>
      <g id="Calque_2" data-name="Calque 2">
        <g id="Rectangle_1" data-name="Rectangle 1" class="logo-cls-1">
          <g id="Rectangle_1-2" data-name="Rectangle 1">
            <path class="logo-cls-2" d="M60,0H36A36,36,0,0,0,0,36V60A12,12,0,0,0,12,72H72V12A12,12,0,0,0,60,0Z" />
          </g>
        </g>
        <g id="Rectangle_1_copie" data-name="Rectangle 1 copie" class="logo-cls-1">
          <g id="Rectangle_1_copie-2" data-name="Rectangle 1 copie">
            <path
              class="logo-cls-3"
              d="M112.56,0h-24a12,12,0,0,0-12,12V72h60a12,12,0,0,0,12-12V36A36,36,0,0,0,112.56,0Z"
            />
          </g>
        </g>
        <g id="Rectangle_1_copie_2" data-name="Rectangle 1 copie 2" class="logo-cls-1">
          <g id="Rectangle_1_copie_2-2" data-name="Rectangle 1 copie 2">
            <path class="logo-cls-4" d="M12,76.56a12,12,0,0,0-12,12v24a36,36,0,0,0,36,36H60a12,12,0,0,0,12-12v-60Z" />
          </g>
        </g>
        <g id="Rectangle_1_copie_3" data-name="Rectangle 1 copie 3" class="logo-cls-1">
          <g id="Rectangle_1_copie_3-2" data-name="Rectangle 1 copie 3">
            <path
              class="logo-cls-5"
              d="M136.56,76.56h-60v60a12,12,0,0,0,12,12h24a36,36,0,0,0,36-36v-24A12,12,0,0,0,136.56,76.56Z"
            />
          </g>
        </g>
      </g>
    </svg>
  </div>
</div>
<!-- main content -->
<div
  class="intersection-radar"
  [ngClass]="{ overlaped: mainContainerOverlap }"
  ntmIntersectionObserver
  (overlapped)="navbarOverlappedHandler($event)"
></div>
<cff-dashboard-layout
  #dashboardLayout
  (layout-change)="onChangeLayoutHandle($event)"
  class="main-content"
  editable
  scrollableParentSelector="viewport"
>
  <ng-container *ngFor="let item of items$ | async; trackBy: trackByItemId">
    <cff-dashboard-item
      [attr.id]="item.id"
      [currentBgColor]="item.colorIndex"
      [rows]="item.gridPosition.rows"
      [screenColumn]="item.gridPosition.screenColumns"
      [order]="item.gridPosition.order"
      [ntmExtensionInject]="item.extensionId"
      [itemDataId]="item.id"
      [ngClass]="{ 'monaco-editor-item': item.extensionId === 'ntm-code-note-element' }"
      (dataChange)="onItemDataChange($event)"
      (hideToolbar)="deleteButton.close()"
      (change-background)="onItemChangeBackground(item.id, $event.detail)"
    >
      <!-- delete -->
      <cff-delete-confirmation
        #deleteButton
        class="dashboard-item-delete-button"
        slot="toolbar"
        (confirm)="removeArtBoardItem(item)"
      ></cff-delete-confirmation>

      <!-- archive -->
      <div slot="toolbar" class="dashboard-item-toolbar-icon" (click)="toggleArchiveArtboardItem(item)">
        <svg
          *ngIf="inNoteTab"
          xmlns="http://www.w3.org/2000/svg"
          width="12"
          height="12"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-sunset"
        >
          <path d="M17 18a5 5 0 0 0-10 0"></path>
          <line x1="12" y1="9" x2="12" y2="2"></line>
          <line x1="4.22" y1="10.22" x2="5.64" y2="11.64"></line>
          <line x1="1" y1="18" x2="3" y2="18"></line>
          <line x1="21" y1="18" x2="23" y2="18"></line>
          <line x1="18.36" y1="11.64" x2="19.78" y2="10.22"></line>
          <line x1="23" y1="22" x2="1" y2="22"></line>
          <polyline points="16 5 12 9 8 5"></polyline>
        </svg>

        <svg
          *ngIf="!inNoteTab"
          xmlns="http://www.w3.org/2000/svg"
          width="12"
          height="12"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-sun"
        >
          <circle cx="12" cy="12" r="5"></circle>
          <line x1="12" y1="1" x2="12" y2="3"></line>
          <line x1="12" y1="21" x2="12" y2="23"></line>
          <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
          <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
          <line x1="1" y1="12" x2="3" y2="12"></line>
          <line x1="21" y1="12" x2="23" y2="12"></line>
          <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
          <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
        </svg>
      </div>
    </cff-dashboard-item>
  </ng-container>
</cff-dashboard-layout>
