@font-face {
  font-family: 'RedHatDisplay';
  src: url('./assets/fonts/RedHatDisplay/RedHatDisplay-Regular.eot');
  /* IE9 Compat Modes */
  src: url('./assets/fonts/RedHatDisplay/RedHatDisplay-Regular.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/RedHatDisplay/RedHatDisplay-Regular.woff') format('woff');
  /* Modern Browsers */
  font-style: normal;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'RedHatDisplay';
  src: url('./assets/fonts/RedHatDisplay/RedHatDisplay-Medium.eot');
  /* IE9 Compat Modes */
  src: url('./assets/fonts/RedHatDisplay/RedHatDisplay-Medium.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/RedHatDisplay/RedHatDisplay-Medium.woff') format('woff');
  /* Modern Browsers */
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'RedHatDisplay';
  src: url('./assets/fonts/RedHatDisplay/RedHatDisplay-Bold.eot');
  /* IE9 Compat Modes */
  src: url('./assets/fonts/RedHatDisplay/RedHatDisplay-Bold.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/RedHatDisplay/RedHatDisplay-Bold.woff') format('woff');
  /* Modern Browsers */
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'RedHatText';
  src: url('./assets/fonts/RedHatText/RedHatText-Regular.eot');
  /* IE9 Compat Modes */
  src: url('./assets/fonts/RedHatText/RedHatText-Regular.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/RedHatText/RedHatText-Regular.woff') format('woff');
  /* Modern Browsers */
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'RedHatText';
  src: url('./assets/fonts/RedHatText/RedHatText-Medium.eot');
  /* IE9 Compat Modes */
  src: url('./assets/fonts/RedHatText/RedHatText-Medium.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/RedHatText/RedHatText-Medium.woff') format('woff');
  /* Modern Browsers */
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}
html {
  scroll-behavior: smooth;
  --bg-color: #303236;

  --mdc-theme-surface: #313640;
  --mdc-typography-subtitle1-font-size: 0.8rem;
  --mdc-theme-text-primary-on-background: #ffffff;
  --mdc-menu-max-height: 250px;
  --mdc-menu-min-width: 148px;
  --mdc-menu-item-height: 36px;
  --mdc-theme-primary: #ffffff;

  --slate-lit-text-color: #c2c5cc;
  --slate-lit-bg-color: transparent;
  --slate-lit-code-background-color: hsl(220, 11%, 10%);
  --slate-lit-highlight-color: hsl(60, 100%, 50%);
  --slate-lit-rich-text-editor-padding: 0px 0px 0px 16px;
}

body {
  margin: 0;
  padding: 0;
  overflow: auto;
  background-color: var(--bg-color);
}

// scrollbar
::-webkit-scrollbar {
  height: 8px;
  overflow: auto;
  width: 8px;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(245, 245, 245, 0.2);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(245, 245, 245, 0.4);
}
